extends layout
block content
	.row.list-group-item
		form(method="POST").col-md-6.col-md-offset-3
			.form-group.col-md-9
				input(type='hidden', name='_csrf', value=_csrf)
				input(placeholder="search", type="text", name="linkTitle", class="form-control tt-input link-search", autocomplete="off", spellcheck="false", dir="auto" )
			button(class="btn btn-default btn-danger col-md-3 search-button") Submit
	.row
	if links
		each link in links
			.row.list-group-item.col-md-10.col-md-offset-1
				a(href=link.url, target="_blank")
					=link.title
				p
					=link.description
				select.rating(data-id=link.id, data-rating=link.rating)
					option(value="1") Poor Resource
					option(value="2") Below Average Resource
					option(value="3") Average Resource
					option(value="4") Great Resource
					option(value="5") Excellent Resource
					
		if (pages > 1 && page < pages + 1)
				ul.pagination
					if(page > 1)
						li 
							a(href="/links?page=#{page-1}") Prev
					li.active
						a(href="/links?page="+page)
							=page
					if(page < pages)
						li 
							a(href="/links?page=#{page+1}") Next
		else
			h1 Page does not exist
			ul.pagination
				li
					a(href="/links?page=#{pages}") Last
	else
		| 
